In [14]:
import pandas as pd
import numpy as np
from os.path import join
import os
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

## 1. Extracting all Uniprot ID - RHEA reaction ID pairs from the downloaded file from UniProt:

In [2]:
df_uniprot = pd.read_excel(join("..", "..", "data", "Uniprot", "uniprot-reviewed yes_transport.xlsx"))
df_uniprot

,Entry,Catalytic activity,Gene ontology (molecular function)
0,B4ELA5,CATALYTIC ACTIVITY: Reaction=a purine D-ribonu...,guanosine phosphorylase activity [GO:0047975];...
1,P07465,NaN,copper ion binding [GO:0005507]; electron tran...
2,Q88YN8,CATALYTIC ACTIVITY: Reaction=H2O + phosphonoac...,magnesium ion binding [GO:0000287]; phosphonoa...
3,P20235,CATALYTIC ACTIVITY: Reaction=a ribonucleoside ...,RNA-directed 5'-3' RNA polymerase activity [GO...
4,A5FEA5,CATALYTIC ACTIVITY: Reaction=[protein]-L-isoas...,protein-L-isoaspartate (D-aspartate) O-methylt...
...,...,...,...
567478,A6TAW7,CATALYTIC ACTIVITY: Reaction=3 H(+)(out) + 2 N...,sodium:proton antiporter activity [GO:0015385]
567479,B0BZW3,CATALYTIC ACTIVITY: Reaction=a plastoquinone +...,"4 iron, 4 sulfur cluster binding [GO:0051539];..."
567480,Q6GB05,CATALYTIC ACTIVITY: Reaction=H2O + 3 O2 + 3 pr...,nitronate monooxygenase activity [GO:0018580];...
567481,Q5RBF2,CATALYTIC ACTIVITY: Reaction=S-ubiquitinyl-[E2...,ubiquitin protein ligase activity [GO:0061630]
567482,A8GHW9,CATALYTIC ACTIVITY: Reaction=a 2'-deoxyribonuc...,ATP binding [GO:0005524]; metal ion binding [G...

In [3]:
start_rhea = "Xref=Rhea:"

def get_reaction_info(activity):
    reaction = activity.split(";")[0]
    reaction = reaction.replace("Reaction=", "")
    
    start_pos = activity.find(start_rhea)
    if start_pos != -1:
        rhea_ID = activity[start_pos + len(start_rhea):]
        rhea_ID = rhea_ID.split(",")[0]
    else:
        rhea_ID = np.nan
        
    return(rhea_ID, reaction)


def get_activtities(activities):
    activities = activities.split("CATALYTIC ACTIVITY: ")
    return(activities[1:])

In [4]:
df_reactions = pd.DataFrame(columns = ["Uniprot ID", "Reaction", "RHEA ID", "GO"])

for ind in df_uniprot.index:
    if ind % 1000 ==0:
        print(ind)
    activities = df_uniprot["Catalytic activity"][ind]
    if not pd.isnull(activities):
        activities = get_activtities(activities = activities)
        for activity in activities:
            if "(out)" in activity and "(in)" in activity:
                rhea_ID, reaction = get_reaction_info(activity)
                df_reactions = df_reactions.append({"Uniprot ID" : df_uniprot["Entry"][ind],
                                                    "Reaction" : reaction, 
                                                    "RHEA ID" : rhea_ID,
                                                   "GO" : df_uniprot["Gene ontology (molecular function)"][ind]
                                                   },
                                                   ignore_index=True)
                
                
                
print("Number of different UniProt IDs : %s \n\
Number of different RHEA reaction IDs: %s" % (len(set(list(df_reactions["Uniprot ID"]))), len(set(list(df_reactions["RHEA ID"])))))                

df_reactions

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000
139000
140000
141000
142000
143000
144000
145000
146000
147000
148000
149000
150000
151000
152000
153000
154000
155000
156000
157000
158000
159000
160000
161000
162000
163000
164000
165000
166000
167000
168000
169000
170000
171000
172000
173000
174000
175000
176000
177000
178000
179000
180000
181000
182000
183000
184000
185000
186000
187000
188000
189000
190000
191000
192000
193000
194000
195000
196000
197000
198000
199000
200000
201000
202000
203000
204000
205000
206000
207000
208000
209000
210000
211000
212000
213000
214000
215000
216000
217000
218000
219000
220000
221000
222000
223000
224000
225000
226000
227000
228000
229000
230000
231000
232000
233000
234000
235000
236000
237000
238000
239000
240000
241000
242000
243000
244000
245000
246000
247000
248000
249000
250000
251000
252000
253000
254000
255000
256000
257000
258000
259000
260000
261000
262000
263000
264000
265000
266000
267000
268000
269000
270000
271000
272000
273000
274000
275000
276000
277000
278000
279000
280000
281000
282000
283000
284000
285000
286000
287000
288000
289000
290000
291000
292000
293000
294000
295000
296000
297000
298000
299000
300000
301000
302000
303000
304000
305000
306000
307000
308000
309000
310000
311000
312000
313000
314000
315000
316000
317000
318000
319000
320000
321000
322000
323000
324000
325000
326000
327000
328000
329000
330000
331000
332000
333000
334000
335000
336000
337000
338000
339000
340000
341000
342000
343000
344000
345000
346000
347000
348000
349000
350000
351000
352000
353000
354000
355000
356000
357000
358000
359000
360000
361000
362000
363000
364000
365000
366000
367000
368000
369000
370000
371000
372000
373000
374000
375000
376000
377000
378000
379000
380000
381000
382000
383000
384000
385000
386000
387000
388000
389000
390000
391000
392000
393000
394000
395000
396000
397000
398000
399000
400000
401000
402000
403000
404000
405000
406000
407000
408000
409000
410000
411000
412000
413000
414000
415000
416000
417000
418000
419000
420000
421000
422000
423000
424000
425000
426000
427000
428000
429000
430000
431000
432000
433000
434000
435000
436000
437000
438000
439000
440000
441000
442000
443000
444000
445000
446000
447000
448000
449000
450000
451000
452000
453000
454000
455000
456000
457000
458000
459000
460000
461000
462000
463000
464000
465000
466000
467000
468000
469000
470000
471000
472000
473000
474000
475000
476000
477000
478000
479000
480000
481000
482000
483000
484000
485000
486000
487000
488000
489000
490000
491000
492000
493000
494000
495000
496000
497000
498000
499000
500000
501000
502000
503000
504000
505000
506000
507000
508000
509000
510000
511000
512000
513000
514000
515000
516000
517000
518000
519000
520000
521000
522000
523000
524000
525000
526000
527000
528000
529000
530000
531000
532000
533000
534000
535000
536000
537000
538000
539000
540000
541000
542000
543000
544000
545000
546000
547000
548000
549000
550000
551000
552000
553000
554000
555000
556000
557000
558000
559000
560000
561000
562000
563000
564000
565000
566000
567000
Number of different UniProt IDs : 13782
Number of different RHEA reaction IDs: 412

,Uniprot ID,Reaction,RHEA ID,GO
0,P63361,ATP + H2O + phosphate(out) = ADP + H(+) + 2 ph...,RHEA:24440,ATPase-coupled phosphate ion transmembrane tra...
1,Q5LBQ4,ATP + H2O + phosphate(out) = ADP + H(+) + 2 ph...,RHEA:24440,ATPase-coupled phosphate ion transmembrane tra...
2,P0AAH2,ATP + H2O + phosphate(out) = ADP + H(+) + 2 ph...,RHEA:24440,ATPase-coupled phosphate ion transmembrane tra...
3,Q3JTS8,ATP + H2O + phosphate(out) = ADP + H(+) + 2 ph...,RHEA:24440,ATPase-coupled phosphate ion transmembrane tra...
4,Q7U6R4,ATP + H2O + phosphate(out) = ADP + H(+) + 2 ph...,RHEA:24440,ATPase-coupled phosphate ion transmembrane tra...
...,...,...,...,...
17505,Q2MII3,a plastoquinone + (n+1) H(+)(in) + NADH = a pl...,RHEA:42608,"4 iron, 4 sulfur cluster binding [GO:0051539];..."
17506,Q2MII3,a plastoquinone + (n+1) H(+)(in) + NADPH = a p...,RHEA:42612,"4 iron, 4 sulfur cluster binding [GO:0051539];..."
17507,A6TAW7,3 H(+)(out) + 2 Na(+)(in) = 3 H(+)(in) + 2 Na(...,RHEA:29247,sodium:proton antiporter activity [GO:0015385]
17508,B0BZW3,a plastoquinone + (n+1) H(+)(in) + NADH = a pl...,RHEA:42608,"4 iron, 4 sulfur cluster binding [GO:0051539];..."
17509,B0BZW3,a plastoquinone + (n+1) H(+)(in) + NADPH = a p...,RHEA:42612,"4 iron, 4 sulfur cluster binding [GO:0051539];..."

### 2. Mapping RHEA reaction IDs to substrate IDs:

### (a) Mapping RHEA reaction IDs to transported substrates:

In [5]:
def extract_RHEA_ID_and_CHEBI_IDs(entry):
    RHEA_ID = entry[0][len("ENTRY"): -1]
    RHEA_ID = RHEA_ID.split(" ")[-1]
    CHEBI_IDs = entry[2][len("EQUATION"): -1]
    CHEBI_IDs = CHEBI_IDs[CHEBI_IDs.index("CHEBI"):]
    
    sub_names = entry[1][len("DEFINITION"): -1]
    while sub_names[0] == " ":
        sub_names = sub_names[1:]
    
    return(RHEA_ID, CHEBI_IDs, sub_names)

def get_substrate_IDs(IDs):
    IDs = IDs.split(" = ")[0]
    IDs = IDs.split(" => ")[0]
    IDs = IDs.split(" <=> ")[0]
    IDs = IDs.replace(" + ", ";")
    IDs = IDs.split(";")
    return([ID.split(" ")[-1] for ID in IDs])

def get_substrate_names(names):
    names = names.split(" = ")[0]
    names = names.split(" => ")[0]
    names = names.split(" <=> ")[0]
    names = names.replace(" + ", ";")
    names = names.split(";")
    return([ID.split(" ")[-1] for ID in names])

def get_acess_array(names):
    []

In [6]:
df_RHEA = pd.DataFrame(columns = ["RHEA ID", "CHEBI_ID_list"])

#file1 = open(join("..", "..", "data", "reactions", "rhea-reactions.txt"), 'r')
#Lines = file1.readlines()

entry = ['ENTRY       RHEA:10192\n',
 'DEFINITION  ATP + H2O + sulfate(out) = ADP + H(+) + phosphate + sulfate(in)\n',
 'EQUATION    CHEBI:30616 + CHEBI:15377 + CHEBI:16189 = CHEBI:456216 + CHEBI:15378 + CHEBI:43474 + CHEBI:16189\n',
 'ENZYME      7.3.2.3\n',
 '///\n']

In [7]:
df_RHEA = pd.DataFrame(columns = ["RHEA ID", "CHEBI_ID_list"])

file1 = open(join("..", "..", "data", "reactions", "rhea-reactions.txt"), 'r')
Lines = file1.readlines()

while True:
    try:
        end = Lines.index('///\n')
        entry = Lines[:end]
        RHEA_ID, CHEBI_IDs, sub_names = extract_RHEA_ID_and_CHEBI_IDs(entry)
        CHEBI_ID_list, sub_name_list = get_substrate_IDs(IDs = CHEBI_IDs), get_substrate_names(names = sub_names)
        access_array = [True if "(out)" in sub or "(in)" in sub else False for sub in sub_name_list ]
        CHEBI_ID_list = list(np.array(CHEBI_ID_list)[access_array])
        Lines = Lines[end+1:]
        df_RHEA = df_RHEA.append({"RHEA ID" : RHEA_ID, "CHEBI_ID_list" : CHEBI_ID_list}, ignore_index = True)
    except ValueError:
        break
        
df_RHEA["RHEA ID"] = [float(ID.split(":")[-1]) for ID in df_RHEA["RHEA ID"]]
df_RHEA.to_pickle(join("..", "..", "data", "reactions", "RHEA_reaction_df.pkl"))
df_RHEA

       RHEA ID CHEBI_ID_list
0      10000.0            []
1      10001.0            []
2      10002.0            []
3      10003.0            []
4      10004.0            []
...        ...           ...
54195  66623.0            []
54196  66624.0            []
54197  66625.0            []
54198  66626.0            []
54199  66627.0            []

[54200 rows x 2 columns]

In [8]:
def get_CHEBI_IDs_from_RHEA_ID(rhea_ID):
    rhea_ID = float(rhea_ID.replace("RHEA:", ""))
    try:
        CHEBI_IDs = list(df_RHEA["CHEBI_ID_list"].loc[df_RHEA["RHEA ID"] == rhea_ID])[0]
    except IndexError:
        CHEBI_IDs = []
    return(CHEBI_IDs)

In [9]:
df_prot_sub = pd.DataFrame(columns = ["Uniprot ID", "CHEBI ID"])

for ind in df_reactions.index:
    rhea_ID = df_reactions["RHEA ID"][ind]
    if not pd.isnull(rhea_ID):
        CHEBI_IDs = get_CHEBI_IDs_from_RHEA_ID(rhea_ID = rhea_ID)
        UID = df_reactions["Uniprot ID"][ind]
        for CHEBI_ID in CHEBI_IDs:
            df_prot_sub = df_prot_sub.append({"Uniprot ID" : UID, "CHEBI ID" : CHEBI_ID}, ignore_index=True)
df_prot_sub.drop_duplicates(inplace = True)
df_prot_sub

      Uniprot ID     CHEBI ID
0         P63361  CHEBI:43474
1         Q5LBQ4  CHEBI:43474
2         P0AAH2  CHEBI:43474
3         Q3JTS8  CHEBI:43474
4         Q7U6R4  CHEBI:43474
...          ...          ...
17864     Q8HVW3  CHEBI:15378
17866     Q2MII3  CHEBI:15378
17868     A6TAW7  CHEBI:15378
17869     A6TAW7  CHEBI:29101
17870     B0BZW3  CHEBI:15378

[15864 rows x 2 columns]

In [10]:
df_prot_sub.rename(columns = {"CHEBI ID" : "molecule ID"}, inplace = True)

## 3. Downloading sequences via the UniProt mapping service (https://www.uniprot.org/uploadlists/):

In [11]:
Uniprot_IDs = list(set(df_prot_sub["Uniprot ID"]))

f = open(join("..", "..", "data", "Uniprot", "UNIPROT_IDs.txt"),"w")
for ID in list(set(Uniprot_IDs)):
    f.write(str(ID) + "\n")
f.close()

In [12]:
UNIPROT_df = pd.read_csv(join("..", "..", "data", "Uniprot", "UNIPROT_results.csv"), sep = ";")
UNIPROT_df

      Uniprot ID   Entry                                           Sequence
0         B6J6A5  B6J6A5  MIPLGYFLIIGAILFGLGFAGIIINRKNLIVLLMCIELMLLAVNTN...
1         Q2J3I4  Q2J3I4  MATPANQTGRITQVIGAVVDVQFEGHLPAILNAIETKNGDNRLVLE...
2         Q07QW9  Q07QW9  MIGMILTAIISTTLIMALLVAAGVFTWVERRLLAFVQERLGPNRVG...
3         Q8FVV5  Q8FVV5  MTAIRPGSVTFENVTKKFGNFTALPNLSLTVEPGTLVTLLGPSGCG...
4         P0AAG3  P0AAG3  MITLKNVSKWYGHFQVLTDCSTEVKKGEVVVVCGPSGSGKSTLIKT...
...          ...     ...                                                ...
13662     P50685  P50685  MAYPMQLGLQDATSPIMEELTDFHDHTLMIVFLISTLVLYIISMML...
13663     Q74U12  Q74U12  MDITNRQAVLKNFLGNSPDWYKLAIMGFLIINPLVFFFVSPFVAGW...
13664     Q2PMN5  Q2PMN5  MDLPEPLHDFLLVFLGSGLILGSLGVVLFTNPIFSAFSLGLVLVCI...
13665     P55783  P55783  MAYIMLTLLIGMVLGVISVASNPSPYFAALGLVLVAGVGCVVLMGH...
13666     Q9QYJ4  Q9QYJ4  MRLWKAVVVTLAFVSMDVGVTTAIYAFSHLDRSLLEDIRHFNIFDS...

[13667 rows x 3 columns]

In [13]:
df_prot_sub = df_prot_sub.merge(UNIPROT_df, on = "Uniprot ID", how = "left")
df_prot_sub

,Uniprot ID,molecule ID,Entry,Sequence
0,P63361,CHEBI:43474,P63361,MNLMAERSLENAVGEKMNATASSIKMRGEKVCVFYGEKQALFDVDL...
1,Q5LBQ4,CHEBI:43474,Q5LBQ4,MDTTVKIDARDVNFWYGDFHALKGISMEIEEKSVVAFIGPSGCGKS...
2,P0AAH2,CHEBI:43474,P0AAH2,MSMVETAPSKIQVRNLNFYYGKFHALKNINLDIAKNQVTAFIGPSG...
3,Q3JTS8,CHEBI:43474,Q3JTS8,MNMAESHLDPSKLATGPAGFGAAAGQRPLAPLNAKIEVKNLNFFYN...
4,Q7U6R4,CHEBI:43474,Q7U6R4,MTTSQLQTEQHQVSDDTAISIQNVTISYGSYEAVKNVYCDVPRGKV...
...,...,...,...,...
15859,Q8HVW3,CHEBI:15378,Q8HVW3,MFPMVTEFMNYGQQTVRAARYIGQGFTITLSHANRLPVTIQYPYEK...
15860,Q2MII3,CHEBI:15378,Q2MII3,MNSIQFPLLDRTAPNSVISTTLNDLSNWSRLSSLWPLLYGTSCCFI...
15861,A6TAW7,CHEBI:15378,A6TAW7,MEISYGRALWRNFLGQSPDWYKLALIIFLIVNPLVFAVAPFVAGWL...
15862,A6TAW7,CHEBI:29101,A6TAW7,MEISYGRALWRNFLGQSPDWYKLALIIFLIVNPLVFAVAPFVAGWL...
15863,B0BZW3,CHEBI:15378,B0BZW3,MLKFLNQVTSYGKESFQAARYIGQGLAVTFDHMKRRPITVQYPYEK...

In [14]:
df_prot_sub.to_pickle(join("..", "..", "data", "Uniprot", "Transporter_Uniprot.pkl"))